<div class="feature-wrapper bg-primary pt-5 pb-5 mt-5 mt-lg-2">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fas fa-compass"></i></h1>
        <p>Welcome to diary !</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>