<h1 class="mt-4">Second Page</h1>
<p class="lead mb-3">Hello,  <%= name %>

<a href="/users/logout"  class="btn btn-warning" style="float: right;">Logout</a></p>
<p class="lead mt-4">I want to increase my daily! <a href="/home_page">Daily Page</a>

<div class="feature-wrapper bg-primary pt-5 pb-5 mt-5 mt-lg-2">
    <div class="col-md-6 m-auto">
        <h1 class="text-center mb-3">My daily</h1>
        <% include ./partials/messages %> 
        <h6 >I am very happy!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   02/05/2019</h6>
        
      </div>
  </div>